<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.organizadortareaskanban">

    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.MANAGE_OWN_CALLS" />
    <uses-permission android:name="android.permission.READ_CALL_LOG" />
    <!--
 Needed only if your calling app reads numbers from the `PHONE_STATE`
         intent action.
    -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-feature android:name="android.hardware.camera" android:required="true" />


    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="TARKAN"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ui.eMail.EMailActivity"
            android:parentActivityName=".ui.tareas.TareasActivity"/>
        <activity
            android:name=".ui.usuarios.UsuariosActivity"
            android:label="Usuarios del Proyecto"
            android:parentActivityName=".ui.tareas.TareasActivity" />
        <activity
            android:name=".ui.tareas.MisTareasActivity"
            android:label="Mis Tareas"
            android:parentActivityName=".ui.tareas.TareasActivity" />
        <activity
            android:name=".ui.proyectos.BuscarProyectoActivity"
            android:label="Todos los Proyectos"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".ui.tareas.VerTareaActivity"
            android:label="Tarea"
            android:parentActivityName=".ui.tareas.TareasActivity" />
        <activity
            android:name=".ui.tareas.AgregarTareaActivity"
            android:label="Nueva Tarea"
            android:parentActivityName=".ui.tareas.TareasActivity" />
        <activity
            android:name=".ui.tareas.TareasActivity"
            android:label="Tablero"
            android:parentActivityName=".MainActivity" />
        <activity android:name=".ui.arranquedelsistema.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.proyectos.CrearProyecto"
            android:label="Nuevo Proyecto"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".ui.arranquedelsistema.RegistrarActivity"
            android:label="Registro"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".MainActivity"
            android:label="Mis Proyectos"
            android:theme="@style/AppTheme.NoActionBar" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.example.android.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths">
            </meta-data>
        </provider>
    </application>

</manifest>